<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>NodeLib-Tool Admin</title>
	<script src="https://lib.lookh5.com/jslib/zepto.1.2.0.min.js"></script>
	<script src="https://lib.lookh5.com/jslib/vue.2.6.10.min.js"></script>
	<link rel="stylesheet" href="https://lib.lookh5.com/jslib/element-ui.2.8.2.css">
	<script src="https://lib.lookh5.com/jslib/element-ui.2.8.2.min.js"></script>
	<script src="https://lib.lookh5.com/jslib/clipboard.min.js"></script>
	<style>
		h2 {
			display: block;
			background-color: #c0c0c0;
			padding: 5px 0 5px 14px;
			border-radius: 6px;
		}

		#app.div {
			display: flex;
			padding: 5px;
		}

		#app.div div {
			padding: 0;
			overflow: hidden;
		}

		#app.div div button {
			margin: 0 5px;
		}

		.el-button + .el-button {
			margin-left: 0px;
		}

		#app.div label {
			width: 150px;
			vertical-align: middle;
		}

		#background {
			display: none;
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
		}

		#div1 {
			background: #eeeeee;
			width: 400px;
			z-index: 1;
			margin: 12% auto;
			overflow: auto;
		}

		#div2 {
			background: #eeeeee;
			margin: 20px;
			height: 300px;
			width: 300px;
			padding: 0 20px;
			overflow: auto;
		}

		#close {
			padding: 5px;
		}

		#close-button {
			float: right;
			font-size: 30px;
			color: black;
		}

		ul {
			list-style: none;
		}

		.el-table .enabled-row {
			background-color: #fff7f7;
			color: #bb3333;
		}

		.el-table .table-head {
			color: #ffffff;
			background-color: #0055cc;
		}

		.el-table {
			border-left: 1px solid #dddddd;
			/*border-left: 1px solid #dddddd;*/
			/*border-top: 1px solid #dddddd;*/
			/*border-bottom: 1px solid #dddddd;*/
		}

		.el-table .el-table__row td {
			border-right: 1px solid #dddddd;
			border-bottom: 1px solid #dddddd;
		}

		.server-tool {
			padding-top: 15px;
			padding-left: 50px;
			border-left: 1px solid #dddddd;
			border-right: 1px solid #dddddd;
			border-bottom: 1px solid #dddddd;
			display: block;
			height: 45px;
		}

		.git-con {
			height: 30px;
		}

		.git-con span {
			display: block;
			float: left;
		}

		.git-pull-btn {
			margin-left: 40px;
			margin-top: -5px;
		}

		.el-message-box {
			width: 520px;
		}

		.el-message-box__message {
			text-align: left;
		}

		.el-tag {
		}

		.content-div {
			margin-top: 30px;
			padding: 0 20px 0;
		}

		.config-form .el-input {
			width: 680px;
		}

		.copyBtn span {
			margin-left: 0px !important;
		}

		.copyBtn div {
			display: block;
			width: 50px;
			height: 0px;
			padding: 0
		}

		.copyBtn.el-button {
			padding: 12px 0px !important;
		}

		.el-table .disabled-row {
			background: #f7f7f7;
			color: #c5c5c5;
		}

		.config-conf .el-button {
			margin-top: 20px;
		}

		.config-conf .el-textarea__inner {
			font-size: 24px;
		}
	</style>
</head>
<body>
<div id="app">
	<el-menu :default-active="menuIndex" mode="horizontal" @select="onSelect_menu">
		<el-menu-item index="1"><i class="el-icon-menu"></i>控制中心</el-menu-item>
		<el-menu-item index="2"><i class="el-icon-setting"></i>用户组设置</el-menu-item>
		<el-menu-item index="3"><i class="el-icon-setting"></i>手动配置</el-menu-item>
	</el-menu>
	<div v-show="menuIndex==1">
		<h2>
			<p>路由配置: {{server.path}}</p>
			<p>启动时间: {{server.startTime}} {{lastTime}}</p>
			<p class="git-con" v-if="server.gitBranch">
				<span>Git分支: {{server.gitBranch}}</span>
				<span class="git-pull-btn">
				<el-button size="mini" :loading="isLoadingGitPull" @click="onClick_gitPullBtn">git pull</el-button>
			</span>
			</p>
			<p v-if="server.gitCommit">提交记录: {{server.gitCommit.id}} ({{server.gitCommit.time}})</p>
		</h2>
		<div>
			<el-table ref="singleTable" :data="managerList" border
					  header-cell-class-name="table-head" header-row-class-name="table-head"
					  :row-class-name="tableRowClassName" style="width: 100%;">
				<el-table-column type="index" label=" " width="50"></el-table-column>
				<el-table-column property="type" label="服务" width="120"></el-table-column>
				<el-table-column property="name" label="名称" width="120"></el-table-column>
				<el-table-column property="info" label="信息">
					<template slot-scope="scope">
						<div v-for="infoItem of scope.row.info">
							<div v-if="infoItem.type==1">
								<div style="width: 40px; display: inline-block">
									<el-tag size="mini">{{infoItem.name}}</el-tag>
								</div>
								{{infoItem.val}}
							</div>
							<div v-if="infoItem.type==2">
								<el-tag type="warning" size="mini">{{infoItem.name}}</el-tag>
								{{infoItem.val}} <i class="el-icon-caret-bottom"
													@click="onClick_managerRouter(scope.row,infoItem)"></i>
							</div>
							<div v-if="infoItem.type==3">
								<el-tag type="success" size="mini">{{infoItem.name}}</el-tag>
								{{infoItem.val}}
							</div>
						</div>
					</template>
				</el-table-column>
				<el-table-column prop="enabled" label="操作" width="150" header-align="center" align="center">
					<template slot-scope="scope">
						<el-row :gutter="10" type="flex" justify="center">
							<el-col>
								<el-button size="mini" plain type="info"
										   v-if="scope.row.enabled && scope.row.type=='mysql'"
										   @click="onClick_configtBtn(scope.row)">配置
								</el-button>
							</el-col>
							<el-col>
								<el-tag type="danger" disable-transitions v-if="!scope.row.enabled">未启</el-tag>
								<el-button :ref="'restartBtn_'+scope.row.name" size="mini" plain type="success"
										   disable-transitions v-else @click="onClick_restartBtn(scope.row)">重启
								</el-button>
							</el-col>
						</el-row>
					</template>
				</el-table-column>
			</el-table>
		</div>
		<div class="server-tool">
			<el-button size="mini" :type="isLoadingReboot?'':'primary'" @click="onClick_rebootBtn"
					   :loading="isLoadingReboot">热重启
			</el-button>
		</div>
	</div>
	<div v-show="menuIndex==2">
		<div class="config-form content-div">
			<el-form label-position="left" label-width="80px">
				<el-form-item label="管理地址">
					<el-input v-model="adminUrl" maxlength="25" id="txt" suffix-icon="el-icon-edit">
						<template slot="prepend">{{baseUrl}}</template>
						<template slot="append">/index</template>
					</el-input>
					<el-button plain v-show="!isShowCopyUrlBtn" @click="onClick_setUrlBtn(0)"
							   icon="el-icon-close"></el-button>
					<el-button plain v-show="!isShowCopyUrlBtn" @click="onClick_setUrlBtn(1)"
							   icon="el-icon-check"></el-button>
					<el-button plain class="copyBtn" v-show="isShowCopyUrlBtn" icon="el-icon-document-copy"
							   @click="onClick_copyUrlBtn"
							   :data-clipboard-text="baseUrl+adminUrl+'/index'">
						<el-tooltip ref="copyTips" content="Copied" effect="dark" hide-after="1500">
							<div></div>
						</el-tooltip>
					</el-button>
				</el-form-item>
			</el-form>
		</div>
		<div class="config-user content-div">
			<el-table :data="adminUserList" border height="300" :row-class-name="getRowClassName">
				<el-table-column type="index" width="50" align="center"></el-table-column>
				<el-table-column prop="name" label="账号" width="180"></el-table-column>
				<el-table-column prop="pass" label="密码" width="180">
					<template slot-scope="scope">
						{{scope.row.pass}}
						<el-button style="float:right" size="mini" plain icon="el-icon-edit"
								   @click="onClick_editUserBtn(scope.row)"></el-button>
					</template>
				</el-table-column>
				<el-table-column label="操作" align="right">
					<template slot="header" slot-scope="scope">
						<el-button size="mini" plain type="primary" icon="el-icon-plus"
								   @click="onClick_addUserBtn"></el-button>
					</template>
					<template slot-scope="scope">
						<el-switch :value="scope.row.enabled" active-color="#13ce66" inactive-color="#a9a9a9"
								   :active-value="1" :inactive-value="0" width="45"
								   @change="onChange_switch(scope.row)"></el-switch>
						<el-button size="mini" plain type="info" icon="el-icon-delete"
								   @click="onClick_delUserBtn(scope.row)"></el-button>
					</template>
				</el-table-column>
			</el-table>
		</div>
	</div>
	<div v-show="menuIndex==3">
		<div class="content-div config-conf">
			<el-input type="textarea" rows="20" resize="none" v-model="confStr"></el-input>
			<el-button type="primary" @click="onClick_saveConfBtn">保存</el-button>
		</div>
	</div>
</div>
</body>
</html>
<script>
	var g = {};
	Object.defineProperty(g, "query", {
		get: function ()
		{
			var query = {};
			var url = window.location.href;
			if (url.indexOf("?") > 0)
			{
				var queryStr = url.substr(url.indexOf("?") + 1);
				queryStr.split('&').forEach(function (param)
				{
					var parts = param.replace(/\+/g, ' ').split('=')
					var key = decodeURIComponent(parts.shift())
					var val = parts.length > 0
							? decodeURIComponent(parts.join('='))
							: null

					if (query[key] === undefined)
					{
						query[key] = val
					}
					else if (Array.isArray(query[key]))
					{
						query[key].push(val)
					}
					else
					{
						query[key] = [query[key], val]
					}
				})
			}
			return query;
		},
		set: function ($obj)
		{
			var str = "";
			for (var k in $obj)
			{
				str && (str += "&");
				str += k + "=" + $obj[k];
			}
			history.replaceState(null, null, "index?" + str);
		},
		enumerable: true,
		configurable: false
	})
	var _api = window.location.href;
	_api = _api.substr(0, _api.lastIndexOf("/") + 1);
	var _loading;

	var Main = {
		data()
		{
			return {
				server: {serverData},
				lastTime: "",
				managerList: {managerList},
				isLoadingReboot: {isRestarting},
				isLoadingGitPull: false,
				menuIndex: 1,
				baseUrl: "",
				adminConf: {adminConf},
				adminUrl: "",
				adminUserList: [],
				isShowCopyUrlBtn: false,
				confStr: "",
				currConfStr: "",
				managerLoading: {}
			}
		},
		watch: {
			adminUrl: function ($val)
			{
				if (this.adminConf.admin_url)
				{
					this.isShowCopyUrlBtn = $val == this.adminConf.admin_url;
				}
				return false;
			}
		},
		created ()
		{
			new ClipboardJS(".copyBtn");
			var baseUrl = window.location.href;
			baseUrl = baseUrl.substr(0, baseUrl.indexOf("/nodelib-tool/")) + "/nodelib-tool/";
			this.baseUrl = baseUrl;
			var now = parseInt(new Date().getTime() / 1000);
			var time = now - parseInt(new Date(this.server.startTime) / 1000);
			var lastTime = "";
			if (time > 86400)
			{
				lastTime = parseInt(time / 86400) + "天";
				time = time % 86400;
			}
			if (time > 3600)
			{
				lastTime += parseInt(time / 3600) + "小时";
				time = time % 3600;
			}
			if (time > 60)
			{
				lastTime += parseInt(time / 60) + "分钟";
				time = time % 60;
			}
			if (time > 0)
			{
				lastTime += time + "秒";
			}
			if (lastTime)
			{
				this.lastTime = "(" + lastTime + ")";
			}
			for (var managerItem of this.managerList)
			{
				managerItem.isLoading = false;
			}
			this.menuIndex = g.query.menuIndex || 1;
			this.adminUrl = this.adminConf.admin_url;
			this.adminUserList = this.adminConf.user_list;
			if (this.isLoadingReboot)
			{
				setTimeout(function ()
				{
					window.location.reload();
				}, 3000);
			}

			if (this.menuIndex == 3)
			{
				this.getConf();
			}
		},

		methods: {
			onSelect_menu($inx)
			{
				this.menuIndex = $inx;
				g.query = {menuIndex: $inx};
				if (this.menuIndex == 3)
				{
					this.getConf();
				}
			},
			getLoading_managerItem($manager)
			{
				return $manager.isLoading;
			},
			tableRowClassName({row, rowIndex})
			{
				if (!this.managerList[rowIndex].enabled)
				{
					return "enabled-row";
				}
				return "";
			},
			onClick_gitPullBtn()
			{
				this.isLoadingGitPull = true;
				callNet("git_fetch").then(($data)=>
				{
					if ($data)
					{
						$data = $data.replace(/\n/g, "<br/>")
						$data = "<div style='height: 200px; overflow: auto'>" + $data + "</div>";
						this.isLoadingGitPull = false;
						this.$confirm($data, "是否拉取代码", {
							type: "info",
							dangerouslyUseHTMLString: true,
							confirmButtonText: "Yes",
							cancelButtonText: "No",
							center: true
						}).then(()=>
						{
							this.isLoadingGitPull = true;
							callNet("git_pull").then(()=>
							{
								this.isLoadingGitPull = false;
								this.$alert("拉取完成", {
									confirmButtonText: "确定",
									callback: action =>
									{
										window.location.reload();
									}
								});
							});
						})
					}
					else
					{
						this.isLoadingGitPull = false;
						this.$message({
							message: "没有新的更新!",
							type: "success"
						});
					}
				});
			},
			onClick_rebootBtn()
			{
				var successFunc = ()=>
				{
					this.isLoadingReboot = false;
					this.$message({
						type: 'success',
						message: "重启成功!"
					});
				}
				this.$confirm("是否确认重启所有服务?", "系统提示", {
					confirmButtonText: "确定",
					cancelButtonText: "取消",
					type: 'warning'
				}).then(()=>
				{
					this.isLoadingReboot = true;
					callNet("reboot").then(successFunc, successFunc);
				})
			},
			onClick_restartBtn($managerItem)
			{
				var successFunc = ()=>
				{
					this.$refs["restartBtn_" + $managerItem.name].loading = false;
					this.$message({
						type: 'success',
						message: "重启成功!"
					});
				}
				this.$refs["restartBtn_" + $managerItem.name].loading = true;
				callNet("update_router", {name: $managerItem.name}).then(successFunc, successFunc);
			},
			onClick_managerRouter($managerItem, $infoItem)
			{
				trace($infoItem)
			},
			onClick_setUrlBtn($type)
			{
				if ($type == 0)
				{
					//取消
					this.adminUrl = this.adminConf.admin_url;
				}
				else
				{
					//设置
					this.adminConf.admin_url = this.adminUrl;
					this.isShowCopyUrlBtn = true;
					callNet("admin_seturl", {url: this.adminConf.admin_url}).then(($data)=>
					{

					});
				}
			},
			onClick_copyUrlBtn()
			{
				window.tip = this.$refs.copyTips;
				this.$refs.copyTips.show();
			},
			onClick_addUserBtn()
			{
				$("#userName").val("");
				$("#userPassTxt").val("");
				let h = this.$createElement;
				this.$msgbox({
					title: "添加管理员",
					message: h("div", null, [
						h("input", {
							staticClass: "el-input__inner",
							attrs: {
								type: "text",
								placeholder: "账号 (不能更改)",
								id: "userNameTxt",
								value: ""
							}
						}, ""),
						h("input", {
							staticClass: "el-input__inner",
							staticStyle: {marginTop: "10px"},
							attrs: {
								type: "text",
								placeholder: "密码",
								id: "userPassTxt",
								value: ""
							}
						}, ""),
					]),
					showCancelButton: true,
					confirmButtonText: "确定",
					cancelButtonText: "取消",
					beforeClose: (action, instance, done) =>
					{
						if (action === 'confirm')
						{
							var userName = $("#userNameTxt").val();
							var userPass = $("#userPassTxt").val();
							instance.confirmButtonLoading = true;
							callNet("admin_adduser", {
								name: userName,
								pass: userPass
							}).then(($data)=>
							{
								this.adminUserList.push($data.data);
								done();
								instance.confirmButtonLoading = false;
							});
						}
						else
						{
							done();
						}
					}
				});
			},
			onClick_editUserBtn($userObj)
			{
				$("#userPassTxt").val($userObj.pass || "");
				let h = this.$createElement;
				this.$msgbox({
					title: "添加管理员",
					message: h("div", null, [
						h("el-input", {
							attrs: {
								value: $userObj.name,
								disabled: true
							}
						}, ""),
						h("input", {
							staticClass: "el-input__inner",
							staticStyle: {marginTop: "10px"},
							attrs: {
								type: "text",
								placeholder: "密码",
								id: "userPassTxt",
								value: $userObj.pass || "",
								"data-value": $userObj.pass || ""
							}
						}, $userObj.pass || ""),
					]),
					showCancelButton: true,
					confirmButtonText: "确定",
					cancelButtonText: "取消",
					beforeClose: (action, instance, done) =>
					{
						if (action === 'confirm')
						{
							var userPass = $("#userPassTxt").val();
							instance.confirmButtonLoading = true;
							callNet("admin_updateuser", {
								name: $userObj.name,
								pass: userPass
							}).then(($data)=>
							{
								$userObj.pass = userPass;
								done();
								instance.confirmButtonLoading = false;
							});
						}
						else
						{
							done();
						}
					}
				});
			},
			onClick_delUserBtn($userObj)
			{
				this.$confirm("确定删除该账号? (删除后不能恢复)", "系统提示", {
					confirmButtonText: "确定",
					cancelButtonText: "取消",
					type: "warning"
				}).then(() =>
				{
					callNet("admin_deluser", $userObj).then(()=>
					{
						var index = this.adminUserList.indexOf($userObj);
						this.adminUserList.splice(index, 1);
					})
				}).catch(() =>
				{

				});
			},
			onChange_switch($userObj)
			{
				$userObj.enabled = ($userObj.enabled + 1) % 2;
				callNet("admin_updateuser", {
					name: $userObj.name,
					enabled: $userObj.enabled
				}).then(($data)=>
				{
				});
			},
			getRowClassName($row)
			{
				if ($row.row.enabled == 0)
				{
					return "disabled-row";
				}
				return "";
			},
			getConf()
			{
				this.showLoading();
				callNet("admin_getconf").then(($data)=>
				{
					this.confStr = JSON.stringify($data.data, null, "\t");
					this.currConfStr = this.confStr;
					this.hideLoading();
				})
			},
			onClick_saveConfBtn()
			{
				if (this.confStr == this.currConfStr)
				{
					this.$message("没有修改,无需保存");
					return;
				}

				if (this.confStr != "")
				{
					var obj;
					try
					{
						obj = JSON.parse(this.confStr);
					}
					catch (e)
					{
						this.$message("不是有效的JSON!");
						return;
					}
				}

				this.showLoading();
				callNet("admin_saveconf", obj).then(($data)=>
				{
					window.location.reload();
				})
			},
			onClick_configtBtn($managerItem)
			{
				callNet("admin_getmysqlconf", {name: $managerItem.name}).then(($data)=>
				{
					$("#mysql_host").val("");
					$("#mysql_user").val("");
					$("#mysql_pass").val("");
					$("#mysql_db").val("");
					let h = this.$createElement;
					this.$msgbox({
						title: "编辑mysql配置",
						message: h("div", null, [
							h("input", {
								staticClass: "el-input__inner",
								staticStyle: {marginTop: "10px"},
								attrs: {
									type: "text",
									placeholder: "host",
									id: "mysql_host",
									value: $data.data.host || ""
								}
							}, $data.data.host || ""),
							h("input", {
								staticClass: "el-input__inner",
								staticStyle: {marginTop: "10px"},
								attrs: {
									type: "text",
									placeholder: "user",
									id: "mysql_user",
									value: $data.data.user || ""
								}
							}, $data.data.user || ""),
							h("input", {
								staticClass: "el-input__inner",
								staticStyle: {marginTop: "10px"},
								attrs: {
									type: "text",
									placeholder: "password",
									id: "mysql_pass",
									value: $data.data.password || ""
								}
							}, $data.data.password || ""),
							h("input", {
								staticClass: "el-input__inner",
								staticStyle: {marginTop: "10px"},
								attrs: {
									type: "text",
									placeholder: "database",
									id: "mysql_db",
									value: $data.data.database || ""
								}
							}, $data.data.database || "")
						]),
						showCancelButton: true,
						confirmButtonText: "确定",
						cancelButtonText: "取消",
						beforeClose: (action, instance, done) =>
						{
							if (action === 'confirm')
							{
								instance.confirmButtonLoading = true;
								callNet("admin_setmysqlconf", {
									name: $managerItem.name,
									host: $("#mysql_host").val(),
									user: $("#mysql_user").val(),
									password: $("#mysql_pass").val(),
									database: $("#mysql_db").val(),
								}).then(($data)=>
								{
									done();
									instance.confirmButtonLoading = false;
									this.$message({
										type: 'success',
										message: "配置完成需要重启才能生效!"
									});
								});
							}
							else
							{
								done();
							}
						}
					})
				});
			},
			showLoading()
			{
				_loading = this.$loading({
					lock: true,
					text: 'Loading...',
					spinner: 'el-icon-loading',
					background: 'rgba(0, 0, 0, 0.7)'
				});
			},
			hideLoading()
			{
				if (_loading)
				{
					_loading.close();
					_loading = null;
				}
			}
		}
	}
	var Ctor = Vue.extend(Main)
	new Ctor().$mount('#app');

	function callNet($url, $data, $callBack)
	{
		var promise = new Promise((resolved, reject)=>
		{
			$.ajax({
				type: "POST",
				url: _api + $url,
				contentType: "application/json",
				dataType: "json",
				data: $data && JSON.stringify($data) || "{}",
				success: function ($resultData)
				{
					resolved($resultData);
				},
				error: function ($errorData)
				{
					reject($errorData);
				}
			});
		})
		return promise;
	}

	function trace()
	{
		var arr = [];
		for (var i = 0; i < arguments.length; i++)
		{
			arr.push(arguments[i]);
		}
		console.log.apply(console, arr);
	}
</script>